In [1]:
# Import SQL Alchemy dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

import psycopg2

from config import db_password

In [2]:
pip install mysql-connector-python

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/jessicajohnson/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/jessicajohnson/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Requirement already satisfied: mysql-connector-python in /Users/jessicajohnson/opt/anaconda3/lib/python3.8/site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in /Users/jessicajohnson/opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.15.8)
Requirement already satisfied: six>=1.9 in /Users/jessicajohnson/opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/jessicajohnson/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/jessicajohnson/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Note: you may need to restart the kernel to use updated packages.

In [3]:
try:
    connection = psycopg2.connect(
        host = 'whats-in-a-bottle.cuvwsdzowgas.us-west-1.rds.amazonaws.com',
        port = 5432,
        user = 'postgres',
        password = db_password,
        database = 'postgres'
        )
except:
    print("I am unable to connect to the database")
cursor=connection.cursor()

In [4]:
#Read in Table 
cursor.execute("select * from cleaned_data")

In [5]:
#Read in Table for co_2015
cleaned_df = "select * from cleaned_data"

In [6]:
#Check DataFrame
cleaned_df = pd.read_sql(cleaned_df, con=connection)
cleaned_df.head()

,_c0,points,price,country,designation,province,region_1,variety,winery,tokens,...,1,2,3,4,5,6,7,8,9,10
0,94948,94.0,39.0,12,20,6,16,24,15,43.0,...,9492.0,18262.0,24031.0,24657.0,44336.0,46758.0,51247.0,61715.0,72073.0,115273.0
1,94949,94.0,50.0,12,20,27,26,12,15,44.0,...,18176.0,20172.0,31910.0,36679.0,41502.0,52226.0,58534.0,60417.0,61312.0,63256.0
2,94950,85.0,21.0,6,20,35,26,9,15,41.0,...,9492.0,25783.0,43265.0,46758.0,62312.0,63256.0,63877.0,75140.0,75571.0,95054.0
3,94951,85.0,28.0,12,20,6,15,26,15,38.0,...,33140.0,45330.0,45697.0,47012.0,55310.0,55385.0,61053.0,77636.0,86309.0,90155.0
4,94952,85.0,18.0,12,17,6,26,24,15,38.0,...,15668.0,16922.0,33079.0,65317.0,73409.0,83437.0,84545.0,86234.0,87444.0,99892.0